body {
	background-image: linear-gradient(22.5deg, rgba(67, 67, 67, 0.02) 0%, 
	rgba(67, 67, 67, 0.02) 29%,rgba(47, 47, 47, 0.02) 29%, 
	rgba(47, 47, 47, 0.02) 37%,rgba(23, 23, 23, 0.02) 37%, 
	rgba(23, 23, 23, 0.02) 55%,rgba(182, 182, 182, 0.02) 55%, 
	rgba(182, 182, 182, 0.02) 69%,rgba(27, 27, 27, 0.02) 69%, 
	rgba(27, 27, 27, 0.02) 71%,rgba(250, 250, 250, 0.02) 71%, 
	rgba(250, 250, 250, 0.02) 100%),
	linear-gradient(67.5deg, rgba(117, 117, 117, 0.02) 0%, 
	rgba(117, 117, 117, 0.02) 14%,rgba(199, 199, 199, 0.02) 14%, 
	rgba(199, 199, 199, 0.02) 40%,rgba(33, 33, 33, 0.02) 40%, 
	rgba(33, 33, 33, 0.02) 48%,rgba(135, 135, 135, 0.02) 48%, 
	rgba(135, 135, 135, 0.02) 60%,rgba(148, 148, 148, 0.02) 60%, 
	rgba(148, 148, 148, 0.02) 95%,rgba(53, 53, 53, 0.02) 95%, 
	rgba(53, 53, 53, 0.02) 100%),
	linear-gradient(135deg, rgba(190, 190, 190, 0.02) 0%, 
	rgba(190, 190, 190, 0.02) 6%,rgba(251, 251, 251, 0.02) 6%, 
	rgba(251, 251, 251, 0.02) 18%,rgba(2, 2, 2, 0.02) 18%, 
	rgba(2, 2, 2, 0.02) 27%,rgba(253, 253, 253, 0.02) 27%, 
	rgba(253, 253, 253, 0.02) 49%,rgba(128, 128, 128, 0.02) 49%, 
	rgba(128, 128, 128, 0.02) 76%,rgba(150, 150, 150, 0.02) 76%, 
	rgba(150, 150, 150, 0.02) 100%),
	linear-gradient(90deg, #ffffff,#ffffff);
	background-attachment: fixed;
	font-family: "Open Sans";
}
hr{
	margin-top: 8%;
}


/*navbar*/
.navbar{
	background-color: rgba(0, 0, 0, 0.0);
  height: 80px;
  align-items: center;
  text-align: center;
}
.navbar .navblu {
	color: #9AB3F5;
	text-decoration: none;
}
.navbar-collapse .buttonWrap {
	border: 3px solid #9AB3F5;
	border-radius: 20px;
	padding: 5px 10px;
	height: 80%;
	color: #9AB3F5;
	width: 120px;
}
.navbar-collapse .buttonWrap:hover{
	color: white;
	background-color: #9AB3F5;
}
.navbar-nav{
	margin-right: 25px;
}
.navbar-nav .joinButton {
	text-decoration: none;
}
/*akhir navbar*/

/*section 1*/
.section1 {
	margin-top: 10%;
	margin-bottom: 5%;
	text-align: center;
	align-items: center;
	overflow: hidden;
}
.section1 h1 {
	font-weight: 800;
	font-style: italic;
	font-size: 38px;
	text-align: left;
	margin: 16px 0;
}
.section1 h2 {
	font-size: 25px;
	text-align: left;
	margin: 16px 0;
}
.section1 p{
	text-align: left;
	margin: 16px 0;
	font-size: 16px;
}
.section1 img {
	width: 90%;
	opacity: 0;
	transform: translate(50px, 0);
	transition: 1s;
}
.section1 img.timbul {
	opacity: 1;
	transform: translate(0, 0);
}
.section1 a{
	text-decoration: none;
	color: white;
}
.section1 a div{
	background-color: #9AB3F5;
	height: 40px;
	width: 30%;
	border-radius: 20px;
	font-weight: 700;
	margin-right: auto;
	margin-left: auto;
	padding: 11px;

}
.section1 .left {
	opacity: 0;
	transform: translate(-100px, 0);
	transition: 1s;
}

.section1 .left.timbul {
	opacity: 1;
	transform: translate(0, 0);
}
/*akhir section 1*/

/*section 2*/
.section2 {
	margin-top: 82px;
	align-items: center;
	text-align: center;
}
.section2 h2, h3, p {
	margin: 16px 0;
	text-align: center;
}
.section2 h1{
	margin-bottom: 50px;
}
.section2 h1, h3 {
	font-size: 23.3px;
	font-weight: 800;
}
.section2 img {
	margin-top: 5%;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}
.section2 .detailsWrap {
	border: 3px solid #9AB3F5;
	border-radius: 20px;
	padding: 5px 10px;
	height: 35px;
	color: #9AB3F5;
	width: 150px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}
.section2 .detailsWrap:hover{
	color: white;
	background-color: #9AB3F5;
}
.section2 .detailsButton{
	text-decoration: none;
}
.section2 .col-sm-3 {
	opacity: 0;
	transform: translate(0, -40px);
	transition:  .5s;
}

.section2 .col-sm-3.muncul {
	opacity: 1;
	transform: translate(0, 0);
}
/*akhir section 2*/

/*section 3*/
.section3{
	margin-top: 50px;
	text-align: center;
	align-items: center;
}
.section3 img{
	width: 80%;
	border-radius: 50%;
}
.section3 h1{
	text-align: center;
	align-items: center;
}
.section3 .row {
	margin-top: 25px;
}
/*akhir section 3*/

/*section 4*/
.section4 {
	margin: 50px auto;
}
.section4 img {
	margin-top: 20px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	align-items: center;
}
.section4 h6{
	text-align: center;
	align-items: center;
}
.section4 h1 {
	margin: 50px 0;
	text-align: center;
	align-items: center;
	font-size: 23.3px;
	font-weight: 800;	
}
.section4 .col-sm-3{
	width: 80%;
	height: 150px;
}
/*akhir section 4*/

/*section 5/footer*/
footer {
	background: rgba(162, 162, 162, 0.5);
	padding: 30px 0 10px 0;
}
.section5 h1 {
	margin: 40px 0 20px 0;
	text-align: center;
	align-items: center;
	font-size: 23.3px;
	font-weight: 800;
}
.section5 .subForm{
	margin: 0 auto;
}
.section5 span{
	font-weight: 700;
	font-size: 23.3px;
}
.section5 input{
	background: none;
	border: 1px solid black;
	border-radius: 20px;
	display: inline-block;
	font-size: 20px;
	font-weight: 600;
	height: 40px;
	width: 450px;
	padding-left: 35px; 
	outline: none;
}
.section5 button {
	background-color: #9AB3F5;
	border-radius: 20px;
	text-decoration: none;
	color: #ffffff;
	height: 40px;
}
.section5 img{
	width: 40px;
	margin: 10px auto;
}
/*akhir section 5/footer*/